
<div class="pull-center">
  <h1>Welcome - Please navigate through below pages</h1>
  <br>
  <div class="align-links">
    <ul>
      <li>
        <%= link_to 'View all Organizations', organizations_path, target: :_blank %>
      </li>
    </ul>
  </div>
  <br>

  <div class="align-links">
    <ul>
      <li>
        <%= link_to 'View all Users', users_path, target: :_blank %>
      </li>
    </ul>
  </div>
  <br>

  <div class="align-links">
    <ul>
      <li>
        <%= link_to 'View all Tickets', tickets_path, target: :_blank %>
      </li>
    </ul>
  </div>
</div>
